/* HEADER */

#header {
  width: 100%;
  display: block;
  text-align: center;
  margin: 0;
  padding: 0;
}

h1, h2 {
  font-family: "Sanchez", "Helvetica Neue";
}

#navbar {
  list-style-type: none;
  display: inline-block;
}

#navbar li {
  font-family: "Sanchez", "Helvetica Neue";
  display: inline-block;
  padding-right: 40px;
  font-size: 1.5em;
  text-align: center;
  
}

#navbar li a {
  color: black;
  text-decoration: none;
  padding: 10px;
}

#navbar li a:hover {
  color: #993300;
  text-decoration: underline;
}

#navbar .curLink{
  color: #993300;
}

#footer,
#social-icon {
  clear: both;
  padding-top: 
}

#footer {
  padding: 20px;
}

/* GENERAL */

body {
  margin: 0;
}

p {
  font-family: "Catamaran", "Helvetica Neue";
  font-size: 1.2em;
  
}

#main-content {
  width: 90%;
  text-align: center;
  display: block;
  margin: auto;
}

h3 {
  font-family: "Sanchez", "Helvetica Neue";
  font-size: 2em;
}

#footer {
  font-family: "Catamaran", "Helvetica Neue";
  text-align: center;
}

.social-icon {
  width: 30px;
  height: 30px;
  margin: 10px;
}

/* IMAGES */

#jacl-logo {
  float: left;
  height: 75px;
}

#cactus-logo {
  width: 75px;
  float: right;
}

#header-background {
  width: 100%;
  height: auto;
  background-size: cover;
  margin: 0;
  display: block;
}

/* JOIM PAGE */

#benefits {
  text-align: left;
  font-family: "Catamaran", "Helvetica Neue";
}

#benefits li {
  font-size: 1.1em;
  line-height: 175%
}

#meminfo p {
  margin-bottom: 50px;
}

label {
  font-size: 1em;
}

#joinform {
  max-width: 70%;
  margin: 0 auto;
  float: left;
}

fieldset {
  font-family: "Catamaran", "Helvetica Neue";
  border: 3px solid;
  border-radius: 15px;
  background-color: #b3cce6;
}

fieldset ul, 
fieldset div {
  left: 50%;
  top: 50%;
  width: auto;
  height: auto;
}

#basicinfo, #addressinfo, #memtypes {
  float: left;
  display: block;
  clear: both;
  left: 50%;
  top: 50%;
}

#addressinfo {
  padding-bottom: 10px
}

#basicinfo label {
  float: left;
  text-align: right;
  width: 100px;
  padding-right: 10px;
  height: 25px;
  margin-bottom: 5px;
}

#addressinfo label {
  float: left;
  text-align: right;
  width: 100px;
  padding-right: 10px;
  height: 25px;
  margin-bottom: 5px;
}

fieldset input {
  margin: 0 20px 0 0;
  
}

.addressfield,
.basicfield {
  height: 25px;
  width: 260px;
  margin-bottom: 5px;
}

#memtypes {
  display: block;
  float: right;
}

#memtypes li {
  list-style-type: none;
  
}

#memtypes label {
  text-align: right;
  width: 160px;
  padding-right: 10px;
  height: 25px;
  margin-bottom: 5px;
  float: left;
}

#memtypes input {
  height: 25px;
  margin-bottom: 5px;
  width: 40px;
}

#submitbutton {
  display: block;
  clear: both;
  margin: 20px auto;
  height: 25px;
  width: 75px;
  font-family: "Sanchez", "Helvetica Neue"; 
  font-size: .9em;
}

#membershiptotal {
  padding: 10px 0;
  display: inline-block
}
