/* HEADER */

#header {
  width: 100%;
  display: block;
  text-align: center;
  margin: 0;
  padding: 0;
}

h1, h2 {
  font-family: "Sanchez", "Helvetica Neue";
}

#navbar {
  list-style-type: none;
  display: inline-block;
}

#navbar li {
  font-family: "Sanchez", "Helvetica Neue";
  display: inline-block;
  padding-right: 40px;
  font-size: 1.5em;
  text-align: center;
  
}

#navbar li a {
  color: black;
  text-decoration: none;
  padding: 10px;
}

#navbar li a:hover {
  color: #993300;
  text-decoration: underline;
}

#navbar .curLink{
  color: #993300;
}

#footer,
#social-icon {
  clear: both;
  padding-top: 
}

#footer {
  padding: 20px;
}

/* GENERAL */

body {
  margin: 0;
}

p {
  font-family: "Catamaran", "Helvetica Neue";
  font-size: 1.2em;
  
}

#main-content {
  width: 90%;
  text-align: center;
  display: block;
  margin: auto;
}

h3 {
  font-family: "Sanchez", "Helvetica Neue";
  font-size: 2em;
}

#footer {
  font-family: "Catamaran", "Helvetica Neue";
  text-align: center;
}

.social-icon {
  width: 30px;
  height: 30px;
  margin: 10px;
}

/* IMAGES */

#jacl-logo {
  float: left;
  height: 75px;
}

#cactus-logo {
  width: 75px;
  float: right;
}

#header-background {
  width: 100%;
  height: auto;
  background-size: cover;
  margin: 0;
  display: block;
}

/* JOIM PAGE */

#wrapper {
  margin-left: auto;
  margin-right: auto;
  width: 960px;
}

.benefits {
  text-align: left;
  font-family: "Catamaran", "Helvetica Neue";
}

.benefits li {
  font-size: 1.1em;
  line-height: 175%
}

h1, h2 {
  text-align: center;
}

#joinintro p {
  margin-bottom: 50px;
  text-align: center;
}

label {
  font-size: 1em;
}

#joinform {
  max-width: 50%;
  margin: 0 auto;
  float: left; 
}

#joinfield {
  font-family: "Catamaran", "Helvetica Neue";
  border: 3px solid;
  border-radius: 15px;
  background-color: #b3cce6;
  padding: 50px;
}

#memperks {
  max-width: 45%;
  display: inline-block;
  padding: 0;
  margin: 0 auto;
  float: right;
}

#joinfield h2 {
  text-align: center;
  margin: auto 0;
}

#joinfield h2:last-child {
  top: 50%;
  left:50%;
  clear: both;
  display: block;
}

#joinfield ul, 
#joinfield div {
  left: 50%;
  top: 50%;
  width: auto;
  height: auto;
}

#basicinfo, #addressinfo, #memtypes, #genderopt {
  float: left;
  display: block;
  clear: both;
  left: 50%;
  top: 50%;
  padding: 20px
}


#addressinfo {
  margin-top: 15px;
}

#basicinfo label,
#addressinfo label,
#genderopt legend{
  float: left;
  text-align: right;
  width: 100px;
  padding-right: 10px;
  height: 25px;
  line-height: 2;
}

fieldset input {
  margin: 0 20px 0 0;
}

#basicinfo {
 margin-bottom: 0;
  padding-bottom: 0;
}

#addressinfo {
  padding-top: 0;
  padding-bottom: 0;
}

/* #zip gets id of zip field, it is not inclided in .addressfield anymore */
.addressfield,
.basicfield,
#zip{
  height: 25px;
  width: 175px;
  margin-bottom: 5px;
}

#email {
  margin-bottom: 30px; 
}

#bday,
#state,
#zip{
  height: 25px;
  width: 80px;
}

#state {
  width: 50px;
  margin-bottom: 10px;
}

#bday {
  margin-bottom: 8px;
}

#genderopt {
  text-align: left;
  padding-top: 0;
  padding-bottom: 0;
}

#genderopt .gendlabel {
  text-align: left;
  max-width: 55px;
  margin-right: 30px;
  float: left;
}

#genderopt #male,
#genderopt #female {
  margin-top: 8px;
  float: left;
}

#meminterests p {
  text-align: center;
}

#memtypes p {
  display: inline;
  text-align: center;
  margin: 0 auto;
  
}

#meminterests li {
  text-decoration: none;
  list-style-type: none;
  line-height: 1.8em;
}

#memperks {
  padding-top: 8px;
  width: 50%;
  float: right;
}

#benefits {
  padding-top: -20px;
  display: inline;
  max-width: 50%;
  margin-right: 15px;
}

#memtypes {
  display: inline-block;
  float: right;
  padding: 0 0 0 80px;
}

#memtypes li {
  list-style-type: none;
  line-height: 2em;
}

#memtypes label {
  text-align: right;
  width: 160px;
  padding-right: 10px;
  height: 25px;
  margin-bottom: 5px;
  float: left;
}

#submitbutton {
  display: block;
  clear: both;
  margin: 20px auto;
  height: 25px;
  width: 75px;
  font-family: "Sanchez", "Helvetica Neue"; 
  font-size: .9em;
}

#membershiptotal {
  padding: 10px 0;
  display: inline-block;
}

#interestblock {
  max-width: 100%;
  margin: 0 auto;
}

#arrayToString {
  font-size: 1em;
}

#memperks img {
  margin: auto 0;
  left: 50%;
  top: 50%;
}

/* LOCATE PAGE */

#locateform {
  width: 80%;
  margin: 0 auto;
  display: block;
}

#locatefield {
  font-family: "Catamaran", "Helvetica Neue";
  border: 3px solid;
  border-radius: 15px;
  background-color: #b3cce6;
}

#districts li {
  list-style: none;
  font-family: "Catamaran", "Helvetica Neue";
  font-size: 1.1em; 
  padding: 8px;
}

#districts a,
#districts a:visited {
  text-decoration: none;
  color: #5B1909;
  padding: 5px;
}

/* SECURITY PAGE */

#intResources {
  font-family: "Catamaran", "Helvetica Neue"; 
  font-size: 1.25em;
  text-align: left;
  margin-top: 50px;
  margin-bottom: 50px;
  line-height: 1.85em;
}

#webinfo li {
  font-family: "Catamaran", "Helvetica Neue"; 
  list-style: none;
  font-size: 1.25em;
  line-height: 1.85em;
}

#getlocation, #getinfo, #getweather {
  margin: 20px;
}

#map {
  height: 400px;
  width: 80%;
  margin: 0 auto;
  margin-top: 50px;
}

#zipweather {
  display: block;
  margin: 20px auto;
  height: 25px;
  width: 75px; 
}

#weather input {
  display: block;

}

#getweather {
  display: inline;
}

#weathererror {
  
}

/* CONTACT PAGE */

#contactinfo {
  text-align: center;
  max-width: 80%;
  margin: 0 auto;
  padding-bottom: 30px;
}

#contactform {
  margin: 0 auto;
  max-width: 600px;
}

#contactfield {
  font-family: "Catamaran", "Helvetica Neue";
  border: 3px solid;
  border-radius: 15px;
  background-color: #b3cce6;
  text-align: center;
}

#contactmonth,
#contactday,
#contactyear {
  margin-top: 30px;
  margin-right: 10px;
  margin-bottom: 20px
}

#contactbutton {
  margin-top: 30px; 
  margin-left: 20px;
}
